.classdetails {
  height: 95vh;
  padding: 80px 0 0 0;
}
.class__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.headerImage {
  width: 90%;
  height: 32%;
  margin-left: -20px;
  z-index: -1;
  position: relative;
  background-color: lightblue;
}

.imgText {
  animation: MoveUpDown 3s linear infinite;
  position: absolute;
  top: 40%;
  left: 25%;
  font-weight: 500;
  background-color: rgb(82, 142, 255);
  padding: 0 20px;
  color: white;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-size: 50px;
}

@media (max-width: 1051px) {
  .imgText {
    left: 15%;
  }
}
@media (max-width: 827px) {
  .imgText {
    font-size: 45px;
  }
}
@media (max-width: 683px) {
  .imgText {
    font-size: 25px;
    top: 50%;
    left: 23%;
  }
}

.header__img {
  height: 105%;
  width: 105%;
  padding-left: 10px;
  padding-top: 15px;
  object-fit: cover;
  animation: MoveUpDown 3s linear infinite;
}

.detailContent {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
  width: 100%;
  margin-left: 20px;
  padding: 10px 20px;
}

@media (max-width: 750px) {
  .detailContent {
    margin-left: 0;
  }
}

.detailTitle {
  text-align: center;
  font-size: 30px;
  padding: 10px 0;
  background-color: rgb(82, 142, 255);
  color: white;
  width: 100%;
}
.detailDesc {
  border: 1px solid black;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  padding: 10px;
}
