@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
a {
  text-decoration: none;
  color: inherit;
}

@keyframes MoveUpDown {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateX(5px);
  }
  40% {
    transform: translateY(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}
